.profile-page {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: var(--spacing-xxxxl);
}

.profile-page__row-wrapper {
    --row-max-height: 350px;
    height: 100%;
    max-height: var(--row-max-height);
    display: flex;
    width: 100%;
    gap: var(--spacing-xl);
}

.profile-page__profile-colum-split {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.profile-page__profile-colum-split .profile-card {
    grid-column: span 1;
}

.profile-page__column-wrapper {
    flex: 1;
}

.profile-page__column-wrapper--split-rows {
    display: grid;
    gap: 2rem;
}

.profile-page__total-played-bar-chart {
    max-height: var(--row-max-height);
    width: 100%;
    background-color: var(--main-200);
    border-radius: 1rem;
    padding: 1rem;
    grid-column: span 2;
}

.profile-page__minutes-per-game-list {
    display: flex;
    flex-direction: column;
    max-height: var(--row-max-height);
    height: 100%;
    width: 100%;
    background-color: var(--main-200);
    border-radius: 1rem;
    padding-inline: 1.5rem;
    padding-top: .5rem;
}

.profile-page__minutes-per-game-list-item {
    width: 100%;
    height: calc((var(--row-max-height) - 2.5rem) / 4);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid var(--black);

}

.profile-page__minutes-per-game-list-item:last-of-type {
    border-bottom: none;
    margin-bottom: auto;
}

.profile-page__minutes-per-game-list-item-icon {
    height: auto;
    width: 50px;
}

.profile-page__minutes-per-game-list-title {
    font-size: var(--font-size-l);
}

.profile-page__total-minute-tracker {
    background-color: var(--main-200);
    display: grid;
    place-items: center;
    padding: 2rem;
    border-radius: 1.25rem;
}

.profile-page__total-minutes {
    font-size: 2.25rem;
}

.profile-page__button-row {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: var(--spacing-xl);
}

.profile-page__cta-button {
    width: 100%;
}