DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/...restOfYourUrl" # URL for your postgres db
DEV_MODE="true" # this boolean is used to toggle dev mode in endGameSession as an example. Timeplayed is multiplied by 60 if set to "true"