.user-registration-form {
    display: grid;
    place-items: start center;
    background-color: var(--main-200);
    padding-top: 5rem;
    width: 100%;
    border-radius: 1rem;
    min-height: 70vh;
}

.user-registration-form__inner-wrapper {
    max-width: 37rem;
    width: 100%;
    display: grid;
    gap: var(--spacing-xs);
}

.user-registration-form__submit-button {
    align-self: start;
}



.user-registration-form__row-wrapper {
    margin-top: var(--spacing-s);
    display: flex;
    justify-content: space-between;
}