.profile-total-bar-chart {
    position: relative;
    display: grid;
    max-height: var(--row-max-height);
    width: 100%;
    background-color: var(--main-200);
    border-radius: 1rem;
    padding: 1rem;
    grid-column: span 2;
}