.landing-page {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    gap: var(--spacing-xl);
}

@media screen and (max-width: 960px) {
    .landing-page {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}